PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=kenya_food_prices
PG_USER=kenya
PG_PASSWORD=kenya123

LOCAL_CSV_PATH=/Users/leonida/Documents/code/kenya_food_prices/wfp_food_prices_ken.csv

SF_ACCOUNT=
SF_USER=
SF_PASSWORD=
SF_DATABASE=KENYA_FOOD_PRICES
SF_SCHEMA=PUBLIC
SF_WAREHOUSE=COMPUTE_WH
SF_ROLE=SYSADMIN
